
.about {
    background-color: #faf9f8; 
}

.headshot img {
    width: 450px;
    height: auto;
    padding: 30px 40px;
    border-radius: 80px;
}

.headshot-background {
  background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0) 70%);    border-radius: 50px; 
    width: 450px;
    height: 600px;
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin: 40px;
  }

  html {
    scroll-behavior: smooth;
  }

a {
    width: 100%;
    text-decoration: none;
    color: #272727;
    margin: 6px;
    text-align: center;
    font-size: 1.34rem;
}

.btn-left {
    position: absolute;
    background-color: #dbdbdb;
    margin-top: 40px;
    left: 82%;
    width: 80px;    
    height: 40px;  
    border-radius: 20px; 
    border: none;
    display: flex;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1000;
  }

  .btn-right {
    position: absolute;
    background-color: #dbdbdb;
    margin-top: 40px;
    left: 90%;
    width: 80px;    
    height: 40px;  
    border-radius: 20px; 
    border: none;
    display: flex;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1000;
  }

  
  .btn-left:hover, .btn-right:hover {
    background-color: #555; 
    transform: scale(1.1);  
  }

  a:hover {
    width: 100%;
    text-decoration: none;
    color: #ffffff
}

  .fill {
    background-color: #faf9f8; 
    border-radius: 50px; 
    width: auto;
    height: 25px;
    display: flex;
    margin: 40px;
  }

  .about-item {
    display: flex;
    align-items: center; /* Vertically aligns the text and image */
    justify-content: space-between; /* Ensures space between the image and the text */
  }
  
  .about-img {
    flex: 1; /* This makes the image section take up one part of the available space */
  }
  
  .about-text {
    flex: 2; /* This makes the text section take up two parts of the available space */
    padding-top: 50px;
    padding-left: 90px; /* Adds space between the image and text */
    font-size: 1.4rem;
    margin: 20px;
  }

  .about-text p {
    margin-bottom: 15px; /* Adds space between paragraphs */
    line-height: 1.6; /* Adds space between lines within each paragraph */
  }
  
  
  .about-text p strong {
    font-family: Helvetica, sans-serif;
    font-weight: 230;
    font-size: larger;
    background-color: #d2d7dc; 
    border-radius: 40px;
    padding: 8px;
  }

  .about-text p strong:hover {
    transform: font-size(1.04rem);
    background-color: #c6d6ef; 
    transition: 0.3s ease;
    cursor: pointer;
  }


  .about-text:hover {
    transform: font-size(1.04rem);
  }

  .hidden-text {
    font-size: 1.7rem;
    visibility: hidden; /* Hide the non-bold text initially */
    opacity: 0; /* Set the initial opacity to 0 for a smooth transition */
    transition: opacity 0.3s ease-in-out; /* Optional: add a transition for smooth fading */
  }
  
  strong:hover + .hidden-text {
    visibility: visible; /* Show the non-bold text on hover */
    opacity: 1; /* Fade in the non-bold text */
  }