.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh; 
  background-color: #faf9f8; 
}

.button button {
  position: absolute;
  top: 20px;     
  left: 20px;  
  width: 30px;    
  height: 30px;  
  background-color: #aabdde; 
  border-radius: 7px; 
  border: none;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button button:hover {
  background-color: #555; 
  transform: scale(1.1);  
}

.text-section {
  flex: 1; 
  padding: 250px 50px; 
  max-width: 50%; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin: 0;
}

.text-section .large p {
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-size: 4.5rem;
  margin-bottom: 10px;
}

.text-section p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 10px;
}

.image-section img {
  max-width: 100%;
  height: auto;
}

header::after {
  content: ''; 
  position: fixed; 
  left: 0; 
  bottom: 0;
  width: 100%; 
  height: 2%; 
  background-color: #a9734d;
  filter: blur(60px); 
  z-index: 3;
  pointer-events: none; 
}

