.navbar {
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: fixed; 
  bottom: 0;       
  left: 0;       
  width: 100%;     
  z-index: 999;   
}

.ellipse-background {
  background-color: #faf9f8;; 
  width: 600px; 
  height: 60px; 
  border-radius: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  position: relative;
  padding: 10px 10px;
}

.nav-links a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(144, 127, 127, 0.2); 
  border-radius: 50px;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%);
}

.nav-links a:hover::before {
  width: 100%;
  height: 100%;
}

.nav-links a:hover {
  color: #27262b; 
  font-size: 25px;
  transition: all 0.9s ease;
}

.contact-button {
  transition: color 0.3s ease, font-size 0.3s ease, opacity 0.5s ease; /* Add opacity transition */
}

.contact-button.fade-out {
  opacity: 0.3; 
}

.contact-button.fade-in {
  opacity: 1; 
}