* {
  font-family: 'Cormorant Garamond', serif;
}

.all-projects .heading {
    color: #666;
    margin-top: 100px;
    margin-left: 80px;
  }
  
  .all-projects .large p {
    color: #454545;
    font-style: normal;
    font-size: 3.5rem;
    margin-bottom: 10px;
  }

  .all-projects p {
    color: #666;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

.projects-grid {
  display: grid;
  margin-left: 30px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: left;
  padding: 30px;
}

.project-item {
  text-align: center;
}

.image-container {
  position: relative;
  width: 380px; 
  height: 380px;
  perspective: 100px;
}

.image-container:hover {
  transform: scale(1.05);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 30px;
  box-shadow: 4px 10px 40px rgba(97, 154, 255, 0.3);
  cursor: pointer;
}

.static-img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  perspective: 100px;
}

.project-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%; 
  height: auto; 
  transform: translate(-50%, -50%); 
  border-radius: 14px;
  z-index: 1; 
}

.custom-hr {
  border: none; 
  height: 1px; 
  background-color: #dbdbdb; 
  width: 70%;
  margin: 50px auto;
}

.subproject-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

.subproject-img-tall {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

.start p {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 2.15rem;
}


.project-text-section p {
  font-size: 1.5rem;
  width: 45%;
}

.info-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;
  gap: 20px;
}

.project-info-left {
  margin-left: 90px;
  width: 600px;
  height: 100px;
  padding: 20px;
}

.project-info-right {
  width: 700px;
  height: 100px;
  padding: 20px;
}

.project-info-left .project-info-header p, .project-info-right .project-info-header p {
  font-size: 2.0rem;
  margin-bottom: 10px;
}

.project-info-left p, .project-info-right p {
  margin-top: 4px;
  font-size: 1.3rem;
}

  .all-projects::after, .start::after {
  content: ''; 
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%; 
  height: 10%;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(20px);
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  pointer-events: none; /* Allow interactions to pass through */
}

.aura {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600%;
  opacity: 12%;
  pointer-events: none;
  z-index: -1; /* Aura stays in the background */
  background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0) 70%);
}

.all-gallery {
  margin-top: 80px;
  margin-left: 80px;
}

.all-gallery .section p {
  font-size: 3.05rem;
}

.gallery-item .gallery-text p {
  font-size: 1.9rem;
}

.gallery-item {
  display: flex;
  align-items: center; /* Aligns items vertically */
  gap: 10px; /* Adds space between the image and text */
}

.gallery-img:hover {
 transform: scale(1.04);
 transition: 0.3s ease;
}


.gallery-img img {
background-color: #faf9f8; 
border-radius: 30px;
padding: 20px;
margin-top: 20px;
width: 650px;
height: auto;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.gallery-text {
  padding: 50px;
  flex-grow: 1; /* Make sure the text takes up remaining space if needed */
}